---
layout: default
title: V's Projects
projects:
    - title: Schedule Sniper
      timeline: Summer 2012 – Current
      link: http://sniper.vverma.net
      source: http://github.com/v/sniper
      text: Sniper watches courses at Rutgers, and notifies you when they open up. When courses at Rutgers fill up, you often spend a lot of time checking the registration system to see if a course of your choice is open. Sniper is a web service that runs a cronjob in the backend to check the registration system for you. Sniper was inspired by [Abe Stanway's Course Sniper](http://abe.is/a/sniper) that went stale after he graduated from the university. Sniper watches courses for over 5,000 people each semester. Check out the [live version](http://sniper.vverma.net) if you're looking to snipe a course.
    - title: RUBUS – text message support for Nextbus
      timeline: Spring 2010 – Current
      link: http://eden.rutgers.edu/~vverna/nextbus
      text: This project is, by far, the project I’m most proud of working on. Rutgers has a system in place called [Nextbus](http://nextbus.com) which allows us to get live bus times online from GPSes that are installed on campus buses. I implemented a simple text message interface into the Nextbus API inspired by [Shuttleboy](http://shuttleboy.cs50.net). I used [Textmarks](http://textmarks.com) to call my web service on receipt of a text message. At the peak of its use (a couple of years ago, before smartphones really took off), RUBUS received around ~10,000 requests every week. The service has been running on its own for two years, and I’ve enjoyed [listening to feedback and acting on it](https://www.facebook.com/events/387829941112/).
---
<div class="row">
    <div class="large-10 columns">
        {% for project in page.projects %}
            <div class="project row">
                <div class="large-5 columns">
                    <h3> <a href="{{ project.link }}">{{ project.title }} </a> </h3>
                </div>
                <div class="large-5 columns text-right">
                    <h4 class="timeline"> {{ project.timeline }} </h4>
                </div>
            </div>
            {{ project.text | markdownify }}
            {% if project.source %}
            <div class="row">
                <div class="large-5 columns">
                    <a href="{{ project.source }}" class="gh-btn">
                        <span class="gh-ico"></span>
                        <span class="gh-text"> View the Source </span>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
